.article_body{
    color: #ffffff;
}.arcticle_header{
    text-align: center;
    margin-block-end: 1.5rem;
}
.article_title{
    font-size: 3rem;
}
@media screen and (max-width: 359px){
    .article_title{
        font-size: 3rem;
}
.article_subtitle{
 font-size: 1.5em;
 color: rgb(129, 159, 187);
 margin-block-end: 1em;
}

.article_date time{

    color: rgb(191, 164, 21621);
    font-size: 1.2em;
    text-transform: none;
    letter-spacing: 10px;
    word-spacing: suppress 5px;
}

.article_content p{
    text-indent: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

